:root {
  --color-darkgrey: #404040;
  --color-grey: #232323;
  --color-header: #A09FA5;
}

@media screen and (max-width: 1300px) {
  .benefit_card {
    text-align: center;
  }
  .benefit_sibtitle_three {
    /* max-width: 300px; */
  }
  .team_text {
    padding-left: 100px;
  }
  .room_title {
    margin-top: 37px;
    margin-bottom: 23px;
  }
  .room_subtitle {
    max-width: 37%;
  }
  .room_photo {
    width: 45vw;
  }
  .room_items {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(2, 180px);
  }
  .room_item {
    width: 181px;
  }
}

@media screen and (max-width: 1200px) {
  .intro_wrapper {
    margin-left: 5%;
  }
  .swiper-pagination {
    bottom: 15px;
  }
  h2.title {
    font-size: 40px;
    line-height: 48px;
  }
  h3.title {
    font-size: 22px;
    line-height: 30px;
  }
  .slogan {
    max-width: 900px;
  }
  .section_room {
    height: 850px;
  }
  .room_title {
    margin-bottom: 30px;
  }
  .room_items {
    transform: translate(-50%, 125px);
  }
  .section_team {
    height: 700px;
  }
  .team_title {
    padding-right: 0;
  }
  .team_text {
    width: 50%;
    padding-top: 40px;
    padding-left: 60px;
  }
  .project_arrows {
    right: 5px;
  }
}

@media screen and (max-width: 1150px) {
  .room_subtitle {
    max-width: 32%;
  }
}

@media screen and (max-width: 1050px) {
  .benefits_wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
  }
  .benefit_card {
    max-width: 650px;
    display: flex;
    text-align: start;
    margin-bottom: 50px;
  }
  .benefit_num {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .benefit_card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .benefit_title {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .project_card_img {
    height: 280px;
  }
  .section_room {
    height: 720px;
  }
  .room_subtitle {
    max-width: 50%;
  }
  .section_team {
    height: 530px;
  }
  .team_text {
    padding-top: 20px;
    padding-left: 30px;
  }
  .room_items {
    transform: translate(-50%, 330px);
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(2, 160px);
  }
  .room_item {
    width: 161px;
  }
  .team_subtitle {
    margin-bottom: 30px;
  }
  .section_clients {
    height: 1030px;
  }
  .browser_wrapper {
    height: 730px;
  }
  .clients_wrapper {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 100px);
    column-gap: 15px;
  }
}

@media screen and (max-width: 900px) {
  h2.title {
    font-size: 36px;
    line-height: 44px;
  }
  .header_wrapper {
    height: 90px;
  }
  .swiper_intro {
    height: 750px;
  }
  .intro_wrapper {
    margin-left: 0;
    padding-bottom: 65px;
  }
  .intro_title {
    text-align: center;
    font-size: 54px;
    width: 98%;
  }
  .intro_button {
    margin: 0 auto;
  }
  .email_title {
    max-width: 630px;
  }
  .projects_title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 850px) {
  .benefits_wrapper {
    margin-bottom: 90px;
  }
  .section_room {
    height: auto;
  }
  .room_wrapper {
    display: flex;
    flex-direction: column;
  }
  .room_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .room_title {
    max-width: 100%;
  }
  .room_subtitle {
    max-width: 90%;
    margin-bottom: 70px;
  }
  .room_photo {
    position: static;
    width: calc(100% - 161px);
    margin-left: auto;
    height: 800px;
  }
  .room_items {
    transform: translate(-50%, 90px);
  }
  .section_advertise {
    margin-bottom: 240px;
  }
  .browser_content {
    grid-template-rows: repeat(6, 175px);
    grid-template-columns: repeat(3, 175px);
    
    justify-items: center;
  }
  .browser_content_img:nth-child(3n+1) {
    margin-top: -60px;
  }
  .browser_content_img:nth-child(3n+3) {
    margin-top: -60px;
  }
  .browser_content_img:nth-child(3n+2) {
    margin-top: 20px;
  }
  .section_team {
    height: 100%;
    margin-bottom: 120px;
  } 
  .team_wrapper {
    position: static;
    flex-direction: column;
  }
  .team_photo {
    width: 100%;
    height: 500px;
    margin-bottom: 120px;
  }
  .team_text {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team_title {
    max-width: 100%;
    text-align: center;
  }
  .team_subtitle {
    max-width: 90%;
    text-align: center;
  }
  .guest_photo {
    margin: 0 auto;
  }
  .guest_feedback_wrapper {
    padding: 20px 20px;
    max-width: 77%;
  }
}

@media screen and (max-width: 800px) {
  .header .content {
    padding: 0 10px;
  }
  .content {
    padding: 0 10px;
  }
  .feedback_wrapper {
    padding: 0 10px;
  }
  .slogan {
    max-width: 85%;
  }
  .intro_title {
    font-size: 48px;
    line-height: 54px;
  }
  .advertise_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advertise_title {
    max-width: 80%;
  }
  .advertise_subtitle {
    max-width: 80%;
  }
  .section_assets {
    margin-bottom: 110px;
  }
  .assets_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .asset_card {
    width: 100%;
    max-width: 450px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 750px) {
  .guest_photo {
    margin: 0;
  }
  .section_feedback {
    padding-top: 73px;
    padding-bottom: 120px;
  }
  .section_projects {
    margin-bottom: 140px;
  }
  .project_card_img {
    height: 450px;
  }
  .project_card_subtitle {
    width: 85%;
  }
  .project_arrows {
    right: 0px;
  }
}

@media screen and (max-width: 700px) {
  .header_wrapper {
    height: 80px;
  }
  .header_logo {
    position: relative;
    z-index: 100;
  }
  .nav_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.98);
    padding: 90px 10px 0px;
    z-index: 20;
    overflow: auto;
    transition: left 0.4s ease-in;
  }
  .nav_menu.active {
    left: 0;
  }
  .header_wrapper::after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--color-header);
    z-index: 99;
  }
  .header_active .header_wrapper {
    height: 80px;
    border-bottom: none;
  }
  .header_nav_link:not(:first-child) {
    margin-left: 0;
  }
  .header_nav_link {
    width: fit-content;
    font-size: 36px;
    letter-spacing: 2px;
    padding: 10px;
    padding-left: 0;
    margin: 20px 0 20px;
  }
  .nav_burger {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 36px;
    height: 40px;
  }
  .burger_line {
    right: 0;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #fff;
    transition: transform 0.2s ease;
  }
  .burger_line_one {
    content: "";
    transform: translateY(-12px);
  }
  .burger_line_three {
    content: "";
    transform: translateY(12px);
  }
  .nav_burger.active .burger_line_two {
    transform: scale(0);
  }
  .nav_burger.active .burger_line_one {
    transform: rotate(-45deg);
  }
  .nav_burger.active .burger_line_three {
    transform: rotate(45deg);
  }

}

@media screen and (max-width: 660px) {
  .intro_title {
    font-size: 42px;
    line-height: 50px;
  }
  .benefits_wrapper {
    margin-bottom: 50px;
  }
  .benefit_num {
    margin: 0 15px;
  }
  .room_title {
    max-width: 400px;
  }
  .section_clients {
    height: 1030px;
  }
  .clients_wrapper {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 90px);
  }
  .browser_wrapper {
    height: 580px;
  }
  .browser_content {
    gap: 15px;
  }
  .feedback_card:last-child {
    display: none;
  }
  .modal_content {
    max-width: 380px;
  }
}

@media screen and (max-width: 600px) {
  .intro_wrapper {
    padding-bottom: 155px;
  }
  .intro_title {
    font-size: 36px;
  }
  .swiper-pagination {
    bottom: 10px;
  }
  .swiper-pagination-bullet {
    width: 30px;
  }
  .room_photo {
    width: 100%;
    height: 700px;
  }
  .room_item:nth-child(n+3) {
    display: none;
  }
  .room_items {
    transform: translate(22%, 39px);
    grid-template-columns: repeat(1, 160px);
    gap: 10px;
  }
  .room_item {
    border-radius: 8px; 
  }
  .browser_content {
    grid-template-columns: repeat(2, 175px);
  }
  .browser_content_img:nth-child(3n+1),
  .browser_content_img:nth-child(3n+2),
  .browser_content_img:nth-child(3n+3) {
    margin-top: 0;
  }
  .browser_content_img:nth-child(2n+1) {
    margin-top: -60px;
  }
  .browser_content_img:nth-child(2n+2) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 560px) {
  h2.title {
    font-size: 32px;
    line-height: 38px;
  }
  .guest_photo {
    margin: 0 auto;
  }
  .guest_feedback_wrapper::after {
    content: none;
  }
}

@media screen and (max-width: 520px) {
  .benefit_card {
    flex-direction: column;
    text-align: center;
  }
  .benefit_num {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .content {
    padding: 0 5px;
  }
  .section_room .content {
    padding: 0;
  }
  .section_team .content {
    padding: 0;
  }
  .intro_title {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 36px;
  }
  .team_photo {
    height: 450px;
  }
  .section_feedback {
    padding-bottom: 60px;
  }
  .feedback_title {
    margin-bottom: 40px;
  }
  .feedback_card {
    flex-direction: column;
    align-items: center;
  }
  .guest_photo {
    margin: 0;
    width: 130px;
    height: 130px;
  }
  .guest_feedback_wrapper {
    max-width: 100%;
    text-align: center;
    background-color: transparent;
  }
  .feedback_card.right .guest_photo {
    order: 0;
  }
  .project_card_img {
    height: 350px;
  }
  .form_button_email {
    min-width: 150px;
  }
}

@media screen and (max-width: 450px) {
  h3.title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
  }
  .asset_card {
    margin-bottom: 55px;
  }
  .room_items {
    transform: translate(16%, 26px);
  }
  .project_card_subtitle {
    line-height: 28px;
  }
  .header_nav_link {
    font-size: 34px;
    margin: 15px 0 15px;
  }
}

@media screen and (max-width: 400px) {
  .slogan {
    max-width: 98%;
    font-size: 22px;
    line-height: 32px;
  }
  .modal_content {
    max-width: 100%;
  }
  .form_input {
    width: 100%;
  }
  .modal_button_submit {
    width: 100%;
  }
  .team_photo {
    height: 360px;
  }
  .project_card_img {
    height: 280px;
    margin-bottom: 20px;
  }
  .browser_content {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(6, 150px);
  }
  .browser_content_img {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 380px) {
  .form_button_email {
    min-width: 120px;
    width: 120px;
  }
  .social_link:nth-child(3) {
    display: none;
  }
}


@media screen and (max-width: 350px) {
  .project_card_img {
    height: 220px;
  }
  .browser_content {
    gap: 7px;
  }
  .team_photo {
    height: 300px;
    margin-bottom: 80px;
  }
  .modal_content {
    padding-top: 77px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 37px;
  }
  .form_input {
    margin-bottom: 30px;
  }
  .modal_button-close {
    right: 0px;
  }
  h2.title {
    font-size: 24px;
    line-height: 33px;
  }
  h3.title {
    font-size: 22px;
  }
}

