@media screen and (max-width: 1300px) {
  .benefit_card {
    text-align: center;
  }
  .benefit_sibtitle_three {
    /* max-width: 300px; */
  }
  .team_text {
    padding-left: 100px;
  }
  .room_title {
    margin-top: 37px;
    margin-bottom: 23px;
  }
  .room_subtitle {
    max-width: 37%;
  }
  .room_photo {
    width: 45vw;
  }
  .room_items {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(2, 180px);
  }
  .room_item {
    width: 181px;
  }
}

@media screen and (max-width: 1200px) {
  .intro_wrapper {
    margin-left: 5%;
  }
  .swiper-pagination {
    bottom: 15px;
  }
  h2.title {
    font-size: 40px;
    line-height: 48px;
  }
  h3.title {
    font-size: 22px;
  }
  .slogan {
    max-width: 900px;
  }
  .section_room {
    height: 850px;
  }
  .room_title {
    margin-bottom: 30px;
  }
  .room_items {
    transform: translate(-50%, 125px);
  }
  .section_team {
    height: 700px;
  }
  .team_text {
    width: 50%;
    padding-top: 40px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 1150px) {
  .room_subtitle {
    max-width: 32%;
  }
}

@media screen and (max-width: 1050px) {
  .benefits_wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
  }
  .benefit_card {
    max-width: 650px;
    display: flex;
    text-align: start;
    margin-bottom: 50px;
  }
  .benefit_num {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .benefit_card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .benefit_title {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .project_card_img {
    height: 280px;
  }
  .section_room {
    height: 720px;
  }
  .room_subtitle {
    max-width: 50%;
  }
  .section_team {
    height: 530px;
  }
  .team_text {
    padding-top: 20px;
    padding-left: 30px;
  }
  .room_items {
    transform: translate(-50%, 330px);
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(2, 160px);
  }
  .room_item {
    width: 161px;
  }
  .team_subtitle {
    margin-bottom: 30px;
  }
  .section_clients {
    height: 1030px;
  }
  .browser_wrapper {
    height: 730px;
  }
  .clients_wrapper {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 100px);
    column-gap: 15px;
  }
}

@media screen and (max-width: 900px) {
  h2.title {
    font-size: 36px;
    line-height: 44px;
  }
  .header_wrapper {
    height: 90px;
  }
  .swiper_intro {
    height: 750px;
  }
  .intro_wrapper {
    margin-left: 0;
    padding-bottom: 65px;
  }
  .intro_title {
    text-align: center;
    font-size: 54px;
    width: 100%;
  }
  .intro_button {
    margin: 0 auto;
  }
  .email_title {
    max-width: 630px;
  }
}

@media screen and (max-width: 850px) {
  .benefits_wrapper {
    margin-bottom: 90px;
  }
  .section_room {
    height: auto;
  }
  .room_wrapper {
    display: flex;
    flex-direction: column;
  }
  .room_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .room_title {
    max-width: 100%;
  }
  .room_subtitle {
    max-width: 90%;
    margin-bottom: 70px;
  }
  .room_photo {
    position: static;
    width: calc(100% - 161px);
    margin-left: auto;
    height: 800px;
  }
  .room_items {
    transform: translate(-50%, 90px);
  }
  .section_advertise {
    margin-bottom: 240px;
  }
  .browser_content {
    grid-template-rows: repeat(6, 175px);
    grid-template-columns: repeat(3, 175px);
  }
  .browser_content_img:nth-child(3n+1) {
    margin-top: -60px;
  }
  .browser_content_img:nth-child(3n+3) {
    margin-top: -60px;
  }
  .browser_content_img:nth-child(3n+2) {
    margin-top: 20px;
  }
  .section_team {
    height: 100%;
    margin-bottom: 120px;
  } 
  .team_wrapper {
    position: static;
    flex-direction: column;
  }
  .team_photo {
    width: 100%;
    height: 500px;
    margin-bottom: 120px;
  }
  .team_text {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team_title {
    max-width: 100%;
    text-align: center;
  }
  .team_subtitle {
    max-width: 90%;
    text-align: center;
  }
  .guest_photo {
    margin: 0 auto;
  }
  .guest_feedback_wrapper {
    padding: 20px 20px;
    max-width: 77%;
  }
}

@media screen and (max-width: 800px) {
  .header .content {
    padding: 0 10px;
  }
  .content {
    padding: 0 10px;
  }
  .feedback_wrapper {
    padding: 0 10px;
  }
  .slogan {
    max-width: 85%;
  }
  .intro_title {
    font-size: 48px;
    line-height: 54px;
  }
  .advertise_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advertise_title {
    max-width: 80%;
  }
  .advertise_subtitle {
    max-width: 80%;
  }
  .section_assets {
    margin-bottom: 110px;
  }
  .assets_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .asset_card {
    width: 100%;
    max-width: 450px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 750px) {
  .guest_photo {
    margin: 0;
  }
  .section_feedback {
    padding-top: 73px;
    padding-bottom: 120px;
  }
  .section_projects {
    margin-bottom: 140px;
  }
  .project_card_img {
    height: 450px;
  }
  .project_card_subtitle {
    width: 85%;
  }
}

@media screen and (max-width: 660px) {
  .intro_title {
    font-size: 42px;
    line-height: 50px;
  }
  .benefits_wrapper {
    margin-bottom: 50px;
  }
  .benefit_num {
    margin: 0 15px;
  }
  .room_title {
    max-width: 400px;
  }
  .section_clients {
    height: 1030px;
  }
  .clients_wrapper {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 90px);
  }
  .browser_wrapper {
    height: 580px;
  }
  .browser_content {
    gap: 15px;
  }
  .feedback_card:last-child {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  .room_photo {
    width: 100%;
    height: 700px;
  }
  .room_item:nth-child(n+3) {
    display: none;
  }
  .room_items {
    transform: translate(22%, 39px);
    grid-template-columns: repeat(1, 160px);
    gap: 10px;
  }
  .room_item {
    border-radius: 8px; 
  }
  .browser_content {
    grid-template-columns: repeat(2, 175px);
  }
  .browser_content_img:nth-child(3n+1),
  .browser_content_img:nth-child(3n+2),
  .browser_content_img:nth-child(3n+3) {
    margin-top: 0;
  }
  .browser_content_img:nth-child(2n+1) {
    margin-top: -60px;
  }
  .browser_content_img:nth-child(2n+2) {
    margin-top: 20px;
  }
}

