:root {
  --color-darkgrey: #404040;
  --color-grey: #232323;
  --color-header: #000000ec;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-darkgrey);
  font-family: "Montserrat";
  font-weight: 400;
  overflow-x: hidden;
}
body.lock {
  overflow: hidden;
}
.wrapper {
  min-width: 0;
  overflow-x: hidden;
}
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

h2.title {
  font-size: 48px;
  line-height: 53px;
}
h3.title {
  font-size: 26px;
  line-height: 26px;
}
.subtitle {
  font-size: 16px;
  line-height: 26px;
}

body a {
  color: #fff;
  text-decoration: none;
}

.content {
  max-width: 1750px;
  padding: 0 115px;
  margin: 0 auto;
}

.button, .button:focus, .button:active, a, a:focus, a:active {
  outline: none;
  cursor: pointer;
}
.button {
  width: 277px;
  padding: 15px 0;
  text-align: center;
  font-family: "Sarala", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #000;
  color: #fff;
  border: 0;
  outline: none;
}
.button:hover {
  background-color: rgb(33, 33, 33);
}
.button:active {
  background-color: rgb(24, 23, 23);
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background-color: transparent;
  transition: background-color .5s linear;
}
.header .content {
  max-width: 1750px;
  padding: 0 115px;
  margin: 0 auto;
}
.header_wrapper {
  width: 100%;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all .5s linear;
}
.header_active .header_wrapper {
  height: 90px;
  border-bottom: 1px solid transparent;
}
.header_active {
  background-color: var(--color-header);
}
.header_nav_link:not(:first-child) {
  margin-left: 60px;
}
.nav_burger {
  display: none;
}
/* /Header */

/* Swiper */
.swiper_intro {
  margin-bottom: 150px;
  width: 100%;
  height: 100vh;
  position: relative;
}
.swiper_intro .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.swiper_intro::after {
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
  background: linear-gradient(180.06deg, rgba(0, 0, 0, 0.5) -10.61%, rgba(0, 0, 0, 0) 99.95%);
}
.swiper_intro .swiper-slide.one {
  background-image: url("../media//intro/img_polyanka-min.jpg");
}
.swiper_intro .swiper-slide.two {
  background-image: url("../media//intro/img_livingroom_three-min.jpg");
}
.swiper_intro .swiper-slide.three {
  background-image: url("../media//intro/img_bedroom_one-min.jpg");
}
.swiper-content {
  position: relative;
  bottom: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
}
.intro_wrapper {
  position: absolute;
  height: 100%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 165px;
}
.intro_title {
  font-size: 60px;
  line-height: 72px;
  width: 850px;
  margin-bottom: 57px;
  color: #fff;
}
.intro_button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.intro_button:hover {
  background-color: rgba(238, 238, 238, 0.1);
}
.intro_button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.swiper-pagination {
  bottom: 56px;
}
.swiper-pagination-bullet {
  height: 8px;
  width: 66px;
  border-radius: 4px;
  margin-right: 12px;
  background-color: #fff;
}
.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.8);
}
/* /Swiper */

/* Slogan */
.section_slogan {
  margin-bottom: 130px;
}
.slogan {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}
.slogan::before {
  display: block;
  content: "";
  width: 140px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto 60px;
}
.slogan::after {
  display: block;
  content: "";
  width: 140px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 60px auto 0;
}
/* /Slogan */

/* Benefits */
.benefits_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.benefit_card {
  max-width: 32%;
}
.benefit_num {
  font-family: "Open Sans";
  font-size: 144px;
  color: #F1EDEA;
  margin-bottom: 36px;
}
.benefit_title {
  margin-bottom: 16px;
}
/* /Benefits */

/* Room */
.section_room {
  margin-bottom: 150px;
  height: 960px;
  position: relative;
}
.room_wrapper {
  display: flex;
}
.room_title {
  max-width: 500px;
  margin-top: 230px;
  margin-bottom: 20px;
}
.room_subtitle {
  max-width: 42%;
}
.room_image {
  width: 40vw;
}
.room_photo {
  background: url("../media/img_room.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  right: 0;
  width: 40vw;
  height: 100%;
}
.room_items {
  display: grid;
  border-radius: 8px;
  grid-template-columns: repeat(2, 223px);
  grid-template-rows: repeat(2, 223px);
  overflow: hidden;
  width: fit-content;
  transform: translate(-50%, 170px);
}
/* /Room */

/* Advertise */
.section_advertise {
  margin-bottom: 290px;
}
.advertise_wrapper {
  text-align: center;
}
.advertise_title {
  margin-bottom: 32px;
}
.advertise_subtitle {
  max-width: 690px;
  margin: 0 auto;
  margin-bottom: 40px;
}
/* /Advertise */

/* Clients */
.section_clients {
  background-color: var(--color-grey);
  height: 1165px;
  margin-bottom: 150px;
}
.section_clients .content {
  position: relative;
}
.browser_wrapper {
  height: 838px;
  max-width: 1335px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -95px;
}
.browser_header {
  height: 46px;
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.browser_circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #C4C4C4;
  display: inline-block;
  margin-right: 6px;
}
.browser_content {
  background-color: #fff;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 175px);
  grid-template-columns: repeat(4, 175px);
  gap: 25px;
  justify-content: center;
  overflow: hidden;
}
.browser_content_img {
  height: 175px;
  width: 175px;
  object-fit: cover;
}
.browser_content_img:nth-child(2n+1) {
  margin-top: -46px;
}
.browser_content_img:nth-child(2n) {
  margin-top: 10px;
}
.clients_wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 203px);
  grid-template-rows: repeat(2, 115px);
  column-gap: 38px;
}
.client_logo {
  justify-self: center;
  align-self: center;
}
/* /Clients */

/* Assets */
.section_assets {
  margin-bottom: 165px;
}
.assets_wrapper {
  display: flex;
  justify-content: space-around;
}
.asset_card {
  width: 295px;
  text-align: center;
}
.asset_title {
  margin-bottom: 16px;
}
.asset_subtitle_price {
  padding: 0 7px;
}
.asset_subtitle_model {
  padding: 0 7px;
}
/* /Assets */

/* Team */
.section_team {
  display: flex;
  width: 100%;
  height: 830px;
  position: relative;
}
.team_wrapper {
  display: flex;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}
.team_photo {
  background: url("../media/img_team.jpg") no-repeat center;
  background-size: cover;
  width: 50%;
  height: 100%;
}
.team_photo_wrapper {
  width: calc(50vw - 24px);
}
.team_text {
  width: 50%;
  padding-top: 123px;
  padding-left: 145px;
  padding-right: 115px;
}
.team_title {
  max-width: 580px;
  margin-bottom: 46px;
  padding-right: 15px;
}
.team_subtitle {
  max-width: 665px;
  margin-bottom: 66px;
  padding-right: 15px;
}
/* /Team */

/* Feedback */
.section_feedback {
  background-color: #F1E9E6;
  padding-top: 125px;
  padding-bottom: 150px;
}
.feedback_title {
  margin-bottom: 70px;
  text-align: center;
}
.feedback_wrapper {
  max-width: 858px;
  padding: 0 15px;
  margin: 0 auto;
}
.feedback_card {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.guest_photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.guest_feedback_wrapper {
  background-color: #fff;
  padding: 32px 40px;
  max-width: 82%;
  border-radius: 10px;
  position: relative;
}
.guest_name {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 12px;
}
.feedback_card.right .guest_photo {
  order: 1;
}
.guest_feedback_wrapper::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid #fff;
}
.feedback_card.left .guest_feedback_wrapper::after {
  top: 35px;
  left: -23px;
  border-left: 25px solid transparent;
}
.feedback_card.right .guest_feedback_wrapper::after {
  top: 35px;
  right: -23px;
  border-right: 25px solid transparent;
}
/* /Feedback */

/* Projects */
.section_projects {
  margin-top: 130px;
  margin-bottom: 200px;
}
.section_projects .content {
  position: relative;
}
.projects_title {
  margin-bottom: 46px;
}
.project_arrows {
  position: absolute;
  right: 115px;
  top: 5px;
}
.slider_button {
 cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
.slider_button:active {
  opacity: 0.7;
}
.slider_button.swiper-button-disabled {
  opacity: 0.3;
  cursor: initial;
}
.projects_cards {
  min-width: 0;
  overflow: hidden;
}
.swiper_projects .swiper-slide {
  width: 23%;
}
.project_card {
  width: 100%;
  overflow: hidden;
}
.project_card_img {
  height: 240px;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 30px;
}
.project_card_title {
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 16px;
}
.project_card_subtitle {
  font-size: 16px;
  line-height: 32px;
  padding-right: 8px;
}
/* /Projects */

/* Email */
.section_email {
  text-align: center;
  margin-bottom: 190px;
}
.email_title {
  max-width: 730px;
  margin: 0 auto 64px;
}
.email_form {
  display: flex;
  max-width: 515px;
  margin: 0 auto;
}
.email_form_input {
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #000;
  padding-left: 16px;
}
.form_button_email {
  min-width: 186px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* /Email */

/* Footer */
.footer_wrapper {
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000;
}
.social_links {
  display: flex;
}
.social_link {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 27px;
}
.social_link_img {
  width: 20px;
  height: 20px;
}
.social_link_img.logo_youtube {
  width: 28px;
  height: 20px;
}
/* /Footer */

/* Modal */
.modal.hidden {
  display: none;
}
.modal {
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s;
  z-index: 5000000;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal .modal_body {
  transform: translate(0px, -100%);
  transition: all .8s;
}
.modal.open .modal_body {
  transform: translate(0, 0);
}
.modal_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
}
.modal_content {
  color: #fff;
  max-width: 450px;
  padding: 90px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../media/bg_modal.jpg') no-repeat center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 20px -5px #000;
  position: relative;
  text-align: center;
}
.modal_button-close {
  cursor: pointer;
  color: #000;
  position: absolute;
  z-index: 20;
  top: -5px;
  right: 10px;
  font-size: 80px;
  transform: rotate(45deg)
}
.form_input {
  width: 340px;
  margin-bottom: 40px;
  padding: 19px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.95);
  letter-spacing: 1px;
}
.modal_button_submit {
  width: 340px;
  border-radius: 4px;
}
/* /Modal */

/* Scroll to top */
body.lock .scroll-to-top {
  display: none;
}
.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2000;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  transform: translateY(25px);
}
.scroll-to-top.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.scroll-to-top::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  content: '⇈';
  content: 'up';

}
.scroll-to-top_svg-path {
  fill: none;
  stroke-width: 4px;
  transition: .5s;
}
.scroll-to-top {
  color: #bbb;
  box-shadow: inset 0 0 0 4px #bbb;
}
.scroll-to-top:hover::after {
  color: #777;
}
.scroll-to-top_svg-path {
  stroke: #777;
}
/* /Scroll to top */