/* variables */

:root {
  --header-bg-color: #0E1D28;
  --main-text-color: #102746;
  --links-buttons-color: #006DFE;
  --links-buttons-hover: #1868d1;
  --links-buttons-active: #1856a8;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v17-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Lato Black'), local('Lato-Black'),
       url('../fonts/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v17-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v17-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper_large {
  /* max-width: 1260px; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.link__arrow {
  padding-bottom: 5px;
}

/* --------------------------------------------------- */
/* Header start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  z-index: 999;
  transition: .5s linear;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 56px;
  transition: .5s linear;
}

.header__nav_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1px;
}

.header__nav_item {
  margin-right: 82px;
}
.header__nav_item:last-child {
  margin-right: 0;
}

.header__nav_link {
  color: white;
  opacity: 1;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.header__nav_link:hover, .header__nav_link:focus, .header__nav_link:active {
  /* opacity: .75; */
  text-decoration: underline;
}

.header__active {
  background-color: var(--header-bg-color);
}

.header__active .header__menu {
  padding-top: 20px;
  transition: .5s linear;
}

.header__burger {
  width: 30px;
  height: 27px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.menu__line_open {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
}

.header__tablet_menu {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  padding: 16px 15px;
  background-color: var(--header-bg-color);
  transform: translateY(-100%);
  transition: .5s linear;
}

.tablet__menu_item {
  margin-bottom: 10px;
}

.tablet__menu_item:first-child {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tablet__menu_item a {
  color: white;
  font-size: 28px;
}

.tablet__menu_close {
  width: 30px;
  height: 30px;
  position: relative;
}

.menu__line_close {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
}

.menu__line_close:first-child {
  transform: translate(0, -50%) rotate(45deg);
}
.menu__line_close:last-child {
  transform: translate(0, -50%) rotate(-45deg);
}

/* --------------------------------------------------- */
/* Intro start */

.intro {
  /* height: 100%; */
  height: 100vh;
  min-height: 970px;
  background: url(../images/intro-bg-min.jpg) no-repeat center;
  background-size: cover;

  padding-bottom: 376px;
}

.intro__title {
  max-width: 619px;
  padding-top: 263px;
  color: white;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 22px
}

.intro__subtitle {
  max-width: 546px;
  color: white;
  line-height: 24px;
  margin-bottom: 59px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  height: 58px;
  /* background-color: transparent; */
  /* background: transparent url(../images/svg/icon__input_circle.svg) no-repeat; */
  background: transparent url(../images/svg/icon__input_circle.svg) no-repeat left 5px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #a6a8ae;
  padding-left: 43px;
  padding-bottom: 22px;

  font-weight: 500;
  font-size: 18px;
  color: white;

  margin-right: 60px;
  margin-bottom: 25px;
}

.search-form__field::placeholder {
  font-size: 18px;
  color: white;
}
.search-form__field:focus::-webkit-input-placeholder {
  /* color: transparent; */
  color: rgba(255, 255, 255, 0.2);
}

.search-form__submit {
  margin-bottom: 25px;
  height: 58px;

  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px 39px;
  color: white;
  background-color: var(--links-buttons-color);
  border: 0;
}

.search-form__submit:focus {
  outline: none;
}
.search-form__submit:hover {
  background-color: var(--links-buttons-hover);
}
.search-form__submit:active {
  background-color: var(--links-buttons-active);
}

/* --------------------------------------------------- */
/* Benefits start */

.benefits {
  background-color: white;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.16);
  margin-top: -223px;
  margin-bottom: 131px;
  padding-top: 93px;
}

.benefits__title {
  font-size: 35px;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 120px;
}

.benefits__cards {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-between;
}

.benefits__card {
  /* margin-right: 10px; */
  max-width: 29%;
  margin-bottom: 112px;
  display: flex;
  flex-direction: column;
}
.benefits__card:last-child {
  margin-right: 0;
}

.benefits__card_img {
  width: 60px;
  height: 60px;
  margin-bottom: 37px;
}

.benefits__card_title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 26px;
}

.benefits__card_info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* margin: auto 0 39px 0; */
  margin-bottom: 39px;
}

.benefits__card_footer {
  margin: auto 0 0 0;
}

.benefits__card_footer a {
  text-decoration: none;
}

.benefits__card_footer span {
  text-transform: uppercase;
  color: var(--links-buttons-color);
  padding-right: 26px;
  transition: .5s all;
}

.benefits__card_footer:hover span {
  padding-right: 36px;
  opacity: .75;
}

/* --------------------------------------------------- */
/* Gallery start */

.gallery {
  margin-bottom: 131px;
}

.gallery__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  /* padding-top: 71px; */
}

.content__title {
  font-weight: 500;
  font-size: 35px;
  text-decoration: none;
  margin-right: 30px;
}

.content__title::after {
  display: block;
  content: '';
  margin-top: 7px;
  width: 253px;
  height: 3px;
  background-color: var(--links-buttons-color);
  margin-bottom: 10px;
}

.gallery__header_link a {
  text-transform: uppercase;
  color: var(--links-buttons-color);
  text-decoration: none;
}

.gallery__header_link:hover {
  opacity: .75;
}

.gallery__header_link span {
  padding-right: 26px;
}

.gallery__cards {
  /* display: -ms-grid; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.gallery__cards {
  margin-bottom: 10px;
}

.gallery__card_large {
  grid-column: span 3;
}
.gallery__card_large img {
  height: 354px;
}

.gallery__card_small {
  grid-column: span 2;
}
.gallery__card_small img {
  height: 283px;
}

.gallery__card {
  position: relative;
  overflow: hidden;
}

.gallery__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  transition: .5s all;
}

.gallery__card:hover::after {
  background-color: rgba(21, 24, 36, 0.1);
  transition: .5s all;
}

.gallery__card:hover img {
  transform: scale(1.05);
  transition: .5s all;
}

.gallery__card_title {
  position: absolute;
  left: 29px;
  bottom: 27px;
  color: white;
  font-weight: 700;
  font-size: 50px;
  z-index: 100;
}

.gallery__card img {
  object-fit: cover;
  width: 100%;
  transition: .5s all;
}

.gallery__card_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* --------------------------------------------------- */
/* Tours start */

.tours {
  margin-bottom: 131px;
}

.tours__card:first-child {
  margin-bottom: 55px;
}

.tours__card {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 66px 55px;
}

.tours__card_img {
  position: relative;
}

.tours__card_img::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 24, 36, 0.4);
  z-index: 10;
  transition: .5s all;
}

.tours__card_img:hover::after {
  background-color: rgba(21, 24, 36, 0.1);
}

.tours__card_info {
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tours__card_title {
  max-width: 360px;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 50px;
}

.tours__card_preview {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.tours__card_footer span {
  text-transform: uppercase;
  color: var(--links-buttons-color);
  padding-right: 26px;
  transition: .5s all;
}

.tours__card_footer:hover span {
  opacity: .75;
  padding-right: 40px;
  transition: .5s all;
}

/* --------------------------------------------------- */
/* Places start */

.places {
  margin-bottom: 131px;
}

.places__header {
  margin-bottom: 36px;
}

.places__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.places__card {
  width: 380px;
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
}

.places__card_img img {
  width: 100%;
}

.places__card_img {
  position: relative;
  margin-bottom: 45px;
}

.places__card_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(21, 24, 36, 0.6);

  padding: 15px 25px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  
  display: flex;
  justify-content: space-between;
}

.places__card_title a {
  color: white;
}

.places__card_statistic {
  display: flex;
}

.places__card_statistic span {
  margin-right: 3px;
}

.places__card_statistic-like img {
  width: 16px;
  height: 16px;
  padding-bottom: 3px;
}

.places__card_statistic-like {
  margin-right: 14px;
}

.places__card_statistic-comment img {
  width: 15px;
  height: 15px;
  padding-bottom: 2px;
}

.places__card_info {
  margin-bottom: 31px;
  line-height: 24px;
}

.places__card_button {
  width: 118px;
  margin: auto 0 0 0;
  text-transform: uppercase;
  color: white;
  padding: 12px 19px;
  background-color: var(--links-buttons-color);
  border: 0;
}

.places__card_button:hover {
  background-color: var(--links-buttons-hover);
}

.places__card_button:active {
  background-color: var(--links-buttons-active);
}

/* --------------------------------------------------- */
/* Video start */

.wrapper_video {
  max-width: 1376px;
  margin: 0 auto;
  position: relative;
}

.video {
  width: 100%;
}

.video__support {
  padding-top: 56.25%;
}

.video__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --------------------------------------------------- */
/* Footer start */

.footer {
  width: 100%;
  height: 370px;
  background-color: var(--header-bg-color);
}

.footer__content {
  padding-top: 119px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__content_links {
  display: flex;
  color: white;
}

.footer__content_links-item {
  margin-bottom: 6px;
}

.footer__content_links-item h4 {
  font-size: 18px;
}

.footer__content_links-item a {
  color: white;
}
.footer__content_links-item a:hover {
  opacity: .75;
}

.footer__content_links ul {
  margin-left: 120px;
}

/* Media */

@media only screen and (max-width: 1200px) {
  .places .wrapper_large {
    max-width: 1060px;
  }  
  .places__card {
    width: 48%;
  }
}

@media only screen and (max-width: 930px) {
  .intro__title {
    padding-top: 180px;
  }
  .footer {
    height: 320px;
  }
  .footer__content {
    padding-top: 50px;
    flex-direction: column;
  }
  .footer__content_logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__content_links {
    justify-content: space-around;
  }
  .footer__content_links ul {
    margin-left: 0;
  }
  .benefits__card_footer span {
    padding-right: 16px;
  }
  .benefits__card_footer:hover span {
    padding-right: 16px;
  }

  .tours__card_footer span {
    padding-right: 16px;
  }

  .tours__card_footer:hover span, .tours__card_footer:active span {
    padding-right: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .header__menu {
    padding-top: 20px;
  }
  .header__burger {
    display: flex;
  }
  .header__nav {
    display: none;
  }

  .search-form__info {
    display: flex;
    justify-content: center;
  }
  .search-form__info input,
  .search-form__info button {
    margin-left: 100px;
    margin-right: 100px;
  }

  .benefits {
    box-shadow: none;
    margin-bottom: 70px;
    padding-top: 60px;
  }
  .benefits__card {
    margin-bottom: 10px;
  }
  .benefits__title {
    padding-bottom: 80px;
  }

  .gallery {
    margin-bottom: 70px;
  }
  .content__title {
    margin-right: 0px;
  }
  .gallery__card_large {
    grid-column: span 6;
  }
  .gallery__card_large img {
    height: 283px;
  }
  .gallery__card_small {
    grid-column: span 6;
  }

  .tours {
    margin-bottom: 70px;
  }
  .tours__card {
    gap: 0;
    display: flex;
    flex-direction: column;
  }
  .tours__card_img {
    margin-bottom: 7px;
  }
  .tours__card_img::after {
    display: none;
  }
  .tours__card_title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .tours__card_preview {
    margin-bottom: 10px;
  }
  .tours__card_info {
    padding-left: 10px;
    padding-right: 10px;
  }
  .tours__card:last-child {
    flex-direction: column-reverse;
  }
  .tours__card_footer {
    text-align: end;
  }

  .places {
    margin-bottom: 20px;
  }
  .places__card {
    margin-bottom: 50px;
  }
  .places__card_img {
    margin-bottom: 25px;
  }
  .places__card_info {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    padding: 0 10px;
  }
  
  .wrapper_large {
    padding: 0 10px;
  }

  .intro {
    min-height: auto;
    margin-bottom: 50px;
  }
  .intro__title {
    padding-top: 100px;
    font-size: 35px;
    line-height: 40px;
  }
  .intro__subtitle {
    margin-bottom: 15px;
  }
  .search-form {
    position: absolute;
    bottom: 0;
  }
  .search-form__info input, .search-form__info button {
    margin-left: 0;
    margin-right: 0;
  }
  .search-form__field {
    width: 297px;
    height: 42px;
    padding-left: 33px;
    padding-bottom: 8px;
    margin-bottom: 17px;
  }
  .search-form__submit {
    height: auto;
    padding: 10px 29px;
    margin-bottom: 17px;
  }

  .benefits {
    margin-top: 0;
    text-align: center;
    margin-bottom: 50px;
    
  }
  .benefits .wrapper {
    padding: 0;
  }
  .benefits__title {
    padding-bottom: 25px;
  }
  .benefits__cards {
    flex-direction: column;
  }
  .benefits__card {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .benefits__card_img {
    margin: 0 auto;
    margin-bottom: 7px;
  }
  .benefits__card_title {
    margin-bottom: 10px;
  }
  .benefits__card_info {
    margin-bottom: 10px;
    text-align: start;
  }
  .benefits__card_footer {
    text-align: end;
  }
  .benefits__card_footer:hover span {
    padding-right: 26px;
  }

  .gallery {
    text-align: center;
  }
  .gallery__header {
    flex-direction: column;
    align-items: unset;
    margin-bottom: 10px;
  }
  .content__title::after {
    display: none;
  }
  .gallery__header_link {
    text-align: end;
  }
  .gallery__cards {
    margin-bottom: 5px;
  }
  .gallery__cards {
      gap: 5px;
  }
  .gallery__card_title {
    left: 19px;
    bottom: 17px;
    font-size: 40px;
  }

  .tours {
    margin-bottom: 50px;
  }
  .tours__card:first-child {
    margin-bottom: 25px;
  }

  .places__header {
    text-align: center;
  }
  .places__title {
    margin-right: 0;
  }
  .places__card {
    width: 100%;
    margin-bottom: 30px;
  }
  .places__card_img {
    margin-bottom: 15px;
  }
  .places__card_info {
    margin-bottom: 15px;
  }
  .places__card_button {
    margin-left: auto;
  }

  .footer {
    height: 250px;
  }
  .footer__content {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 330px) {
  .intro__title {
    padding-top: 80px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .search-form__field {
    width: 270px;
    height: 35px;
    padding-left: 33px;
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .search-form__submit {
    height: auto;
    padding: 10px 29px;
    margin-bottom: 15px;
  }

  .gallery__card_large img {
    height: 180px;
  }

  .footer a {
    font-size: 14px;
  }

}