<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../../img/favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/reset.min.css">
  <link rel="stylesheet" href="../../styles/trick-page.css">
  <link rel="stylesheet" href="./template.css">
  <title>Default Template</title>
</head>

<body class="dark">
  
  <div class="trick-page-wrap" id="home">
    <!-- Navigation -->
    <a href="../../index.html" class="navigation button_home" title="home">
      <img src="../../img/svg/home.svg" alt="icon home">
    </a>
    <a href="../tricks_js.html" class="navigation button_back" title="back">
      <img src="../../img/svg/back.svg" alt="icon back">
    </a>
    <!-- / Navigation -->

    <!-- Main -->
    <main class="trick-page-main">
      <div class="wrapper">
        
        

      </div>
    </main>
    <!-- / Main -->
  </div>

  <script src="./template.js"></script>

</body>

</html>