// ==== Button ====
button {
  height: 60px;
  font-family: $fontOpenSansBold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 5px;
  
  &.btn_opacity {
    border: 1px solid rgba(white, .5);
    color: rgba(white, .5);
    background-color: transparent;

    &:hover {
      border: 1px solid rgba(white, 1);
      color: rgba(white, 1);
    }

    &:active {
      border: 1px solid $mainColor;
      background-color: $mainColor;
      transform: translateY(2px)
    }
  }

  &.btn_yellow {
    border: 1px solid $mainColor;
    background-color: $mainColor;
    color: white;

    &:hover {
    border: 1px solid $mainColorHover;
    background-color: $mainColorHover;
    }

    &:active {
      transform: translateY(2px)
    }
  }
}
a.btn {
  font-family: $fontOpenSansBold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  outline: none;

  &.btn_opacity {
    border: 1px solid rgba(white, .5);
    color: rgba(white, .5);
    border-radius: 5px;
    background-color: transparent;

    &:hover {
      border: 1px solid rgba(white, 1);
      color: rgba(white, 1);
    }

    &:active {
      border: 1px solid $mainColor;
      background-color: $mainColor;
      transform: translateY(2px)
    }
  }
}


// ==== Yellow Fram ====
span.yellow-frame {
  display: block;
  width: 52.5%;
  // height: 52.5%;
  padding-top: 52.5%;
  height: calc(width);
  border: 20px solid $mainColor;
  border-radius: 5px;
}


// ==== Input ====
input:not(.radio) {
  height: 60px;
  border: 0;
  background-color: #E5E5E5;
  border-radius: 5px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

textarea {
  border: 0;
  background-color: #E5E5E5;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  resize: none;
}