.section-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $bgFooterColor;
  color: white;
  margin-top: -2px;

  .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    h3 {
      font-size: 46px;
      padding-bottom: 0;
  
      a {
        color: white;
  
        &:hover {
          opacity: .8;
        }
      }
  
      &::after {
        display: none;
      }
    }

    div {
      a:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}