.section-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: $headerAnimation;

  a {
    outline: none;
  }

  .section-header-wrap {
    height: 100px;
    display: flex;

    .header-menu-item {
      list-style: none;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $introOpacityLine;

      .header-menu-item-link {
        color: white;
        text-transform: uppercase;
        text-transform: uppercase;
        font-family: $fontOpenSansBold;
        font-size: 12px;
        line-height: 18px;
        position: relative;

        &:hover {
          opacity: .8;
        }
      }
    }

    .header-menu-item-logo {
      list-style: none;
      width: 20%;
      position: relative;
      padding-top: 25px;

      .header-logo__wheel {
        position: absolute;
        left: 20.5%;
        width: 60%;
        transition: $headerAnimation;
      }
    }
  }
}

.section-header.scroll {
  background-color: rgb(12, 12, 12);
  transition: $headerAnimation;

  .header-menu-item {
    border-bottom: 0;
  }

  .header-menu-item-logo {
    padding-top: 5px;

    .header-logo__wheel {
      left: calc(50% - 45px);
      width: 90px;
      transition: $headerAnimation;
    }
  }
}