:root {
  --color-orange: rgb(240, 163, 48);
  --color-orange-hover: rgb(223, 139, 14);
  --color-orange-active: rgb(201, 121, 0);
  --color-card: rgb(28,28,28);
}

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  background-color: #000;
}
body.lock {
  overflow: hidden;
}

body a {
  color: #fff;
  text-decoration: none;
}

.content {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.text_colored {
  color: var(--color-orange);
}

.button, .button:focus, .button:active {
  outline: none;
  cursor: pointer;
}
.button_colored {
  background-color: var(--color-orange);
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 12px 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.button_colored:hover {
  background-color: var(--color-orange-hover);
}
.button_colored:active {
  background-color: var(--color-orange-active);
}

/* Loading */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* /Loading */

/* Debug */
body {
  background-color: darkgray;
}
.section_header {
  background-color: #000;
}
/* /Debug */


/* Header */
.section_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.section_header .content {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav_link {
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 14px;
}
.header_nav_link:hover {
  color: var(--color-orange);
}
.header_contact {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_contact_social {
  margin-top: 15px;
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.header_social_img {
  height: 25px;
}
/* /Header */


/* Video */
.section_video {
  margin-top: 90px;
  margin-bottom: 0px;
}
.video_wrapper {
  position: relative;
  width: 100%; 
  height: 460px;
  object-fit: cover;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video_overflow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.video_overflow .content {
  height: 100%;
}
.video_content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_title {
  font-size: 56px;
  line-height: 43px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 75px;
  text-align: center;
}
.video_title:last-child {

}
.video_subtitle {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 30px;
}
/* /Video */

/* Main */
.section_main {
  position: relative;
  z-index: 5;
  max-width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  margin-bottom: 100px;
}
.section_main_background {
  position: relative;
  background: url('../media/img_multiply-cameras.webp') no-repeat center;
  margin: 0 auto;
  min-height: 508px;
  padding-top: 30px;
}
.section_main_background::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}
.intro_title {
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: 400;
  margin-top: 20px;
}
.intro_content {
  position: relative;
  z-index: 5;
}
.intro_text {
  /* max-width: 550px; */
  /* margin-left: 25px; */
  margin-bottom: 80px;
}
.intro_text .text_row {
  font-size: 20px;
  line-height: 16px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.section_title {
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  z-index: 5;
  margin-bottom: 70px;
}
.button_order {
  display: block;
  margin: 0 auto;
}
/* /Main */

/* Portfolio */
.section_portfolio {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.portfolio_wrapper_one {
  display: grid;
  gap: 10px;
  grid-template-columns: 5fr 6fr 4fr;
  grid-template-rows: repeat(2, 275px);
  margin-bottom: 10px;
}
.portfolio_card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.portfolio_card::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.3;
  transition: all .5s;
}
.portfolio_card:hover::after {
  opacity: 0;
}
.portfolio_bg {
  width: 100%;
  height: 100%;
  transition: all .5s;
}
.portfolio_card:hover .portfolio_bg {
  transform: scale(1.05);
}
.card_title_wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 20;
  bottom: 0
}
.card_title {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-orange);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card_one {
  grid-row-start: 1;
  grid-row-end: 3;
}
.portfolio_bg_one {
  background-image: url('../media/offer/bg_adv.jpg');
  background-position: 54% 50%;
  background-size: cover;
}
.card_two {
  grid-column-start: 2;
  grid-column-end: 4;
}
.portfolio_bg_two {
  background-image: url('../media/offer/bg_reputation.jpg');
  background-position: 54% 50%;
  background-size: cover;
}
.portfolio_bg_three {
  background-image: url('../media/offer/bg_greeting.jpg');
  background-position: 43% 50%;
  background-size: cover;
}
.portfolio_bg_four {
  background-image: url('../media/offer/bg_social2.jpg');
  background-position: 23% 50%;
  background-size: cover;
}
.portfolio_wrapper_two {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 300px;
}
.portfolio_bg_five {
  background-image: url('../media/offer/bg_cameras.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.portfolio_bg_six {
  background-image: url('../media/offer/bg_animation.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.card_two .card_title,
.card_four .card_title,
.card_six .card_title {
  text-align: end;
}
.card_three .card_title {
  text-align: center;
}
/* /Portfolio */

/* Benefits */
.section_benefits {
  margin-bottom: 180px;
}
.section_benefits .content {
  position: relative;
}
.soffit {
  position: absolute;
  top: -110px;
  right: 0;
  z-index: 2;
  opacity: 0.8;
}
.benefits_title {
}
.benefits_wrapper {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.benefit_item {
  flex-basis: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit_image_wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.benefit_img {
  height: 100px;
}
.benefit_img.info {
  height: 80px;
}
.benefit_title {
  width: 160px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-orange);
}
.benefit_title.presentation {
  width: 110px;
}
.benefit_title.trust {
  width: 160px;
}
.benefit_title.info {
  width: 170px;
}
/* /Benefits */

/* State */
.section_stage {
  margin-bottom: 180px;
}
.state_title {
}
.stage_wrapper {
  display: flex;
  justify-content: center;
}
.stage_card {
  background-color: var(--color-card);
  flex-basis: 250px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}
.stage_card:not(:last-child) {
  margin-right: 20px;
}
.stage_next_logo {
  position: absolute;
  width: 50px;
  top: 50%;
  right: 0;
  transform: translate(67%, -180%);
  z-index: 5;
}
.stage_card_title {
  text-transform: uppercase;
  color: var(--color-orange);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}
.stage_card_list {
  margin-left: 25px;
  padding-left: 0;
}
.stage_card_item {
  list-style: none;
  margin-bottom: 11px;
  letter-spacing: 1px;
}
.stage_card_item::before {
  padding-right:10px;
  color: var(--color-orange);
  content: "✓";
}

/* /State */

/* Result */
.section_result {
  margin-bottom: 150px;
}
.section_result .content {
  position: relative;
}
.lens {
  position: absolute;
  z-index: 2;
  top: -175px;
  left: 0;
  width: 500px;
  opacity: 0.6;
}
.result_title {
  position: relative;
  z-index: 10;
}
.result_wrapper {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.result_card {
  flex-basis: 32%;
  text-align: center;
}
.result_image_wrapper {
  height: 120px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result_img.video {
  width: 120px;
}
.result_img.checklist {
  height: 100px;
}
.result_img.pencil {
  width: 80px;
}
.result_img.instruction {
  width: 90px;
  margin-right: 5px;
}
.result_img.top {
  width: 70px;;
}
.result_card_title {
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 20px;
}
/* /Result */

/* Clients */
.section_clients {
  margin-bottom: 80px;
}
.section_clients .content {
  position: relative;
}
.dron {
  position: absolute;
  bottom: -85px;
  right: 0;
  z-index: 2;
  width: 700px;
  opacity: .5;
}
.clients_title {
}
.clients_wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  z-index: 10;
}
.clients_logo_wrapper {
  flex-basis: 15%;
  margin-bottom: 10px;
  align-self: center;
  text-align: center;
}
.clients_logo {
  width: 120px;
  align-self: center;
}
.clients_logo.sevenkids,
.clients_logo.akashevo {
  width: 100px;
}
.clients_logo.gazprom {
  margin-bottom: 22px;
}
.clients_logo.trest {
  margin-top: 20px;
}
.clients_logo.bud {
  margin-top: 10px;
}
/* /Clients */

/* Footer */
.footer {
  position: relative;
  background-color: var(--color-card);
  z-index: 20;
}
.footer_wrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_content {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer_contacts, .footer_requisites {
  line-height: 26px;
}
.footer_social_link:not(:last-child) {
  margin-right: 15px;
}
/* /Footer */

/* Popup */
.popup {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
}
.popup_content {
  color: #fff;
  width: 600px;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../media/img_multiply-cameras.webp') no-repeat center;
  border-radius: 30px;
  box-shadow: 0 0 20px 5px #000;
  position: relative;
  text-align: center;
}
.popup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup_content .popup_title {
  margin-bottom: 15px;
  color: var(--color-orange)
}
.popup_content .popup_subtitle {
  margin-bottom: 35px;
  letter-spacing: 1px;
}
.form_input {
  width: 300px;
  border: none;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 12px 15px;
  letter-spacing: 2px;
  cursor: pointer;
}
.form_input:active, .form_input:focus {
  outline: none;
}
.form_input::placeholder {
  color: var(--color-orange);
  opacity: .9;
}
.popup_inupt-email {
  margin-bottom: 30px;
}
.popup_button-close {
  position: absolute;
  z-index: 20;
  top: 0px;
  right: 15px;
  font-size: 50px;
  transform: rotate(45deg)
}
.popup .popup_body {
  transform: translate(0px, -100%);
  transition: all .8s;
}
.popup.open .popup_body {
  transform: translate(0, 0);
}
/* /Popup */

/* Swiper */
.modal {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgb(73, 46, 46);
  background-color: rgb(16, 16, 16);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal_body {
  min-height: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_button-close {
  position: absolute;
  z-index: 20;
  top: 15px;
  right: 30px;
  font-size: 50px;
  transform: rotate(45deg)
}
.swiper-container {
  width: 100%;
}
.swiper-wrapper {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 15px;
}
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  color: var(--color-orange);
  outline: none;
}
.swiper-container .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff;
  opacity: .4;
  outline: none;
}
.swiper-container .swiper-pagination-bullet-active {
  background: var(--color-orange);
  outline: none;
  opacity: 1;
}
.modal .swiper-container .swiper-scrollbar {
  bottom: 0px;
}
.modal .swiper-container .swiper-scrollbar-drag {
  cursor: pointer;
  background: var(--color-orange);
  opacity: 1;
}

.slider_block {
  width: calc(100% - 100px);
  height: 90vh;
  padding-bottom: 20px;
}
.slider_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_wrapper-video {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider_wrapper-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: inherit;
  z-index: 300;
}
.slider_wrapper-description {
  max-width: 350px;
  height: 600px;
  overflow: hidden;
}
.slider_description-content {
  padding: 10px;
  height: inherit;
  overflow-y: auto;
  height: inherit;
}
.slider_description-content::-webkit-scrollbar {
  width: 3px;
}
.slider_description-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.slider_description-content::-webkit-scrollbar-thumb {
  background-color: var(--color-orange);
}
.slider_description-title {
  margin-bottom: 10px;
}
.slider_description-text,
.slider-author {
  font-size: 14px;
  font-weight: 300;
}
.slider_description-text {
  line-height: 22px;
  margin-bottom: 15px;
}
.slider_description-authors {
  margin-top: 20px;
}
.slider-author{
  margin-bottom: 5px;
  line-height: 18px;
}
.slider-author:last-child{
  margin-bottom: 60px;
}
.slider_description-break {
  display: block;
  width: 75px;
  height: 1px;
  background-color: #fff;
  margin-bottom: 12px;
}


/* /Swiper */