html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.navigation {
  position: absolute;
  top: 20px;
}
.button_home {
  left: 20px;
}
.button_back {
  left: 80px;
}
.navigation:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.trick-page-wrap {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trick-page-main {
  text-align: center;
}

/* Color Themes */
body.dark {
  background-color: #1e2835;
}
body.dark .navigation .image_svg {
  stroke: #fff;
}
body.dark .navigation:hover .image_svg {
  stroke: #aaa;
}
body.dark .trick-page-main {
  color: #fff;
}

body.light {
  background-color: #fff;
}
body.light .navigation .image_svg {
  stroke: #000;
}
body.light .navigation:hover .image_svg {
  stroke: #999;
}
body.light .trick-page-main {
  color: #000;
}