html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1e2835;
}

.navigation:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.navigation:nth-child(1) img {
  width: 40px;
}
.navigation:nth-child(2) img {
  width: 31px;
}
.button_home {
  position: absolute;
  top: 20px;
  left: 20px;
  outline: none;
}
.button_back {
  position: absolute;
  top: 24px;
  left: 80px;
  outline: none;
}

.trick-page-wrap {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trick-page-main {
  color: white;
  text-align: center;
}

