.booking-form {
  width: 100%;
  padding-left: 23px;
  padding-right: 23px;

  @media (max-width: 1100px) {
    padding: 0;
  }

  .form-row-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    input:first-child {
      margin-right: 10px;
    }

    input:focus {
      border: 0;
    }
    input:active {
      border: 0;
    }
  }

  .form-row-1 {
    width: 100%;
    margin-bottom: 10px;

    .booking-warning-message {
      display: none;
      height: 40px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      border: 1px solid $errorColor;
      color: $errorColor;
      font-size: 14px;
      line-height: 1px;
      transition: 2s;

      span {
        font-family: $fontOpenSansBold;
      }
    }

    button {
      width: 100%;
    }
  }
}