.section-events {
  background: url('../images/bg_events.jpg') no-repeat center;
  background-size: cover;
  position: relative;

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bgShadowCover;
    z-index: 5;
  }

  .content-wrap {
    z-index: 10;
  }
}