.section-special {
  background: url('../images/bg_special.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;

  .content-wrap {
    position: relative;
    z-index: 10;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bgShadowCover;
    z-index: 5;
  }

  .section-special-wrap {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    .section-special-header {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .section-special-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .section-special-image {
        width: 47%;
        position: relative;
        display: flex;
        justify-content: flex-end;

        .special-image {
          width: 79%;
          border-radius: 5px;
          box-shadow: 0px 0px 25px 5px black;
          align-self: flex-start;
        }

        .frame {
          width: 41.6%;
          position: absolute;
          top: 25%;
          left: 0;
        }
      }

      .info-box {
        width: 47%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        .info-box-title {
          font-size: 36px;
          line-height: 48px;
        }
    
        .info-box-subtitle {
          font-family: $fontOpenSansBold;
          font-size: 18px;
          line-height: 28px;
          padding-bottom: 30px;
        }
    
        .info-box-text {
          font-family: $fontOpenSansReg;
          font-size: 14px;
          line-height: 20px;
          padding-bottom: 30px;
        }
      }
    }

    .section-special-footer {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .special-footer-wrap {
        width: 70px;
        height: 20px;
        // background-color: lightgreen;
        display: flex;
        justify-content: space-between;

        .select {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: rgba($color: #fff, $alpha: .5);
          cursor: pointer;

          &.active {
            background-color: white;
          }
        }
      }
    }
  }
}