body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider {
    width: 1439px;
    height: 675px;
    border-radius: 10px;

    overflow: hidden;

    .slides {
      width: 400%;
      height: 675px;
      // height: 100%;
      display: flex;
      position: relative;

      input {
        display: none;
      }

      .slide {
        width: 25%;
        transition: 2s;

        img {
          width: 1439px;
          // height: 100%;
          height: 675px;
        }
      }
    }

    .first {
      margin-left: -25%;
    }

    // manual slider navigation start
    .navigation-manual {
      position: absolute;
      width: 1439px;
      margin-top: -40px;
      display: flex;
      justify-content: center;

      .manual-btn {
        border: 2px solid lightgrey;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;

        &:not(:last-child) {
          margin-right: 20px;
        }

        &:hover {
          background-color: lightgrey;
        }
      }
    }
    #radio1:checked ~ .first {
      margin-left: 0;
    }
    #radio2:checked ~ .first {
      margin-left: -25%;
    }
    #radio3:checked ~ .first {
      margin-left: -50%;
    }
    #radio4:checked ~ .first {
      margin-left: -75%;
    }
    // manual slider navigation end

    // auto slider navigation start
    .navigation-auto {
      position: absolute;
      display: flex;
      width: 1439px;
      justify-content: center;
      bottom: 26px;

      div {
        border: 2px solid red;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
    #radio1:checked ~ .navigation-auto .auto-btn1 {
      background-color: lightgrey ;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2 {
      background-color: lightgrey ;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3 {
      background-color: lightgrey ;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4 {
      background-color: lightgrey ;
    }
    // auto slider navigation end

  }
}