html,
body {
  margin: 0;
  height: 100%;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}

/* MOBILE */
.mobile ul a,
.desktop ul a {
  border-bottom: 1px solid lightgray;
}
.mobile ul a,
.desktop ul a {
  display: grid;
  justify-content: center;
  align-content: center;

  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (orientation: portrait) {
  .mobile {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (orientation: landscape) {
  .mobile {
    display: flex;
    flex-direction: row;
  }
  .div__canvas {
    flex: 1;
  }
  .mobile ul {
    display: grid;
    /* align-self: flex-start; */
  }
}

/* DESKTOP */
.desktop {
  display: flex;
  flex-direction: row;
}
.div__canvas {
  flex: 1;
}
.desktop ul {
  display: grid;
  align-self: flex-start;
}
