#c {
  width: 100%;
  height: 100%;
  display: block;
}

/* MOBILE */
.mobile {
  font-size: 2.5em;
}
.mobile ul {
  display: grid;
  grid-template-columns: 1fr;
}
.mobile ul a {
  height: 90px;
  text-align: center;

  display: grid;
  align-content: center;
}

/* DESKTOP */
.desktop {
  display: flex;
}
.desktop ul {
  display: grid;
}
.desktop ul a {
  font-size: 1.5em;
  padding: 15px;
}

.content__product_img {
  position: relative;
  flex: 1;
}
